#display {
	background-color: #000;
	height: 150px;
	display: none;
	border: 5px solid #8b9392;
	color: #658;
	z-index: 1;
}

#start {
	height: 15%;
	width: 20%;
	color: #af2f21;
}

.title {
	margin-top: 1.25%;
	margin-bottom: 1.25%;
}

#quizResults {
	/*border: 5px dotted #369;*/
	background-color:  #8b9392;
	border-radius: 2%;
	margin-top: 2%;
	padding-bottom: 2%;
	color: #000;
	display: none;
	padding-top: 3%;
	padding-bottom: 3%;
}

.numberStyle {
	position: absolute;
	left: 0;
	font-size: 40px;
}

.laneNumber {
	position: absolute;
	font-size: 80px;
	left: 3%;
	display: inline-block;
}

h1 {
	color: #fff;
	font-size: 70px;
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-weight: bold;
	font-size: 65px;
}

h3 {
	color: #fff;
}

hr {
	height: 2.5px;
	color: #fff;
}

body {
	font-family: 'Raleway', sans-serif;
	background-image: url("trackTurf.jpg");
	opacity: 0.5;
	background-color: #af2f21;
}

button {
	border-radius: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.q {
	margin: 0 auto;
	height: 100px;
	z-index: 0;
}

#submission {
	width: 100px;
	height:30px;
	font-weight: bold;
	color: #4d79bb;
	border-radius: 5px;
}

#timer {
	font-size: 90px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	top: 100px;
}

#correct {
	color: #000;
}

#incorrect {
	color: #000;
}

#na {
	color: #000;
}

.choiceDisplay {
	margin-left: 10px;
}

body {
	color: #fff;
}

#quizResults {
	font-size: 20px;
	color: #4d79bb;
}

